sf/.eslintignore
sf/.forceignore
sf/.gitignore
sf/.prettierignore
sf/.prettierrc
sf/jest.config.js
sf/package.json
sf/README.md
sf/sfdx-project.json
sf/.husky/pre-commit
sf/.vscode/extensions.json
sf/.vscode/launch.json
sf/.vscode/settings.json
sf/config/project-scratch-def.json
sf/force-app/main/default/aura/.eslintrc.json
sf/force-app/main/default/lwc/.eslintrc.json
sf/scripts/apex/hello.apex
sf/scripts/soql/account.soql
